  .line {
    height: 12px;
    margin: 10px;
    animation: pulse 1s infinite ease-in-out;
    border-radius: 5px;
  }
  .skeleton-image {
    height: 300px;
    margin: 10px;
    animation: pulse 1s infinite ease-in-out;
    border-radius: 5px;
  }
  .card .content div:nth-child(1){
    width: 300px;
  }
  .card .content div:nth-child(2){
    width: 300px;
  }
  .card .content div:nth-child(3){
    width: 270px;
  }
  
  @keyframes pulse {
    0% {
      background-color: rgba(165,165,165,.1)
    }
    50% {
      background-color: rgba(165,165,165,.3)
    }
    100% {
      background-color: rgba(165,165,165,.1)
    }
  }